<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Exclude existing files and directories from rewrite rules
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite all requests to index.php
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
